@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 2vw;
}

.left-sidebar {
  border-radius: 20px 0 0 20px;
  animation: leftToRight 3000ms;
}

.right-sidebar {
  border-radius: 0 20px 20px 0;
}

.left-mainArea {
  border-radius: 0 0 20px 20px;
}

.right-mainArea {
  border-radius: 20px 20px 0 0;
}

.hotelCard {
  box-shadow: 20px 20px 40px #cccccc, -20px -20px 40px #ffffff;
}

@keyframes leftToRight {
  10% {
    transform: scaleX(1.1);
  }
  90% {
    transform: translateX(800px);
  }
  100% {
    transform: scaleX(1.1);
    transform: translateX(800px);
  }
}
